.row
  .col-lg-12

    .align-center
      %h2 Current and Previous Students
      %br
      %br
    .row
      .col-lg-3
        = image_tag 'ershad.jpg', class: 'thumbnail', style: 'height: 220px;margin-top: 5px;'
      .col-lg-9.trainer-description
        %p.lead Ershad Kunnakkadan
        %p
          Lores Ipsum
